body {
    background-color: #dedce0;
    font-family: 'Varela Round', Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

/* main navbar */
ul#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #dedce0;
    overflow: hidden;
}
#navbar li {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

/* text/link on navbar */
#navbar li a {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px 10px;
    margin: 6px 4px;
    border-radius: 8px;
    color: #000000;
    font-weight: bold;
}
#navbar li a:hover {
    background-color: #c0c0c0;
    box-shadow: #c0c0c0 0px 0px 4px;
}

/* navbar title (left side) */
#navbar li.title, #navbar li.title a {
    float: left;
    padding-left: 0;
}
/* canceling effect */
#navbar li.title a:hover {
    background-color: #dedce0;
    box-shadow: 0px 0px 0px;
}

/* navbar logo */
#navbar li#logo img {
    height: 38px;
    padding: 4px 0 4px 14px;
}
#navbar li#logo a {
    margin: 0px;
    padding: 0px;
}

/* most right button on navbar */
#navbar li.button a {
    background-color: #282424;
    color: #fff;
    margin-right: 14px;
}
#navbar li.button a:hover {
    background-color: #787474;
    box-shadow: #000000 0px 0px 2px;
}

/* clear float */
.clear {
    clear: left;
}

/* main content */
div.content {
    margin: 100px 12% 100px 12%;
}
div.content h1 {
    padding: 8% 0 10px 0;
    margin: 0;
}
div.content p {
    margin: 0;
    line-height: 24px;
}
div.content img {
    background-color: #c0c0c0;
    overflow: auto;
    padding: 10px;
    width: 45%;
    max-width: 320px;
    top: 0;
    float: left;
    margin-right: 20px;
    border-radius: 8px;
}

/* about section */
div.content p.about {
    text-align: justify;
    width: 45%;
    float: left;
    margin-right: 10%;
    margin-top: 8px;
}

/* tags */
div.content div.tags {
    width: 45%;
    float: right;
}
div.tags b {
    font-size: 14px;
    display: inline-block;
    padding: 8px;
    margin: 8px;
    border: 2px solid black;
    border-radius: 4px;
}

/* scrollbar setting */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0;
    border-radius: 10px;
}